

<!-- <button id="rzp-button1">Pay</button> -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_c247QIGI9NhNmg", // Enter the Key ID generated from the Dashboard
    "amount": "<%= order_info.total * 100%>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "FASHION", //your business name
    "description": "Order Placed",
    "image": "https://img.freepik.com/premium-vector/baski_794715-1223.jpg?w=740",
    "callback_url": "http://localhost:1000/payment_successs/<%=order_info['order_id']%>",
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "<%=order_info.full_name %>  ", //your customer's name
        "email": "<%= %> ",
        "contact": "<%= order_info.mo_no%>" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#000000"
    }
};
var rzp1 = new Razorpay(options);
// document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
// }
</script>

